In [28]:
import pandas as pd
import numpy as np

In [29]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',5000)

In [30]:
df=pd.read_csv('hypothyroid.data',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25
0,hypothyroid,72,M,f,f,f,f,f,f,f,f,f,f,f,y,30,y,0.60,y,15,y,1.48,y,10,n,?
1,hypothyroid,15,F,t,f,f,f,f,f,f,f,f,f,f,y,145,y,1.70,y,19,y,1.13,y,17,n,?
2,hypothyroid,24,M,f,f,f,f,f,f,f,f,f,f,f,y,0,y,0.20,y,4,y,1,y,0,n,?
3,hypothyroid,24,F,f,f,f,f,f,f,f,f,f,f,f,y,430,y,0.40,y,6,y,1.04,y,6,n,?
4,hypothyroid,77,M,f,f,f,f,f,f,f,f,f,f,f,y,7.30,y,1.20,y,57,y,1.28,y,44,n,?

In [31]:
df.shape

(3163, 26)

In [32]:
# df.columns=['age', 'sex', 'on_thyroxine', 'query_on_thyroxine',
#        'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery',
#        'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium',
#        'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH_measured', 'TSH',
#        'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U',
#        'FTI_measured', 'FTI', 'TBG_measured', 'TBG', 'referral_source',
#        'disease']

In [33]:
df.columns=['disease',
            'age',
            'sex',
            'on_thyroxine',
            'query_on_thyroxine',
            'on_antithyroid_medication',
            'thyroid_surgery',
            'query_hypothyroid',
            'query_hyperthyroid',
            'pregnant',
            'sick',
            'tumor',
            'lithium',
            'goitre',
            'TSH_measured',
            'TSH',
            'T3_measured',
            'T3',
            'TT4_measured',
            'TT4',
            'T4U_measured',
            'T4U',
            'FTI_measured',
            'FTI',
            'TBG_measured',
            'TBG',
]

In [34]:
df.head()

,disease,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,sick,tumor,lithium,goitre,TSH_measured,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
0,hypothyroid,72,M,f,f,f,f,f,f,f,f,f,f,f,y,30,y,0.60,y,15,y,1.48,y,10,n,?
1,hypothyroid,15,F,t,f,f,f,f,f,f,f,f,f,f,y,145,y,1.70,y,19,y,1.13,y,17,n,?
2,hypothyroid,24,M,f,f,f,f,f,f,f,f,f,f,f,y,0,y,0.20,y,4,y,1,y,0,n,?
3,hypothyroid,24,F,f,f,f,f,f,f,f,f,f,f,f,y,430,y,0.40,y,6,y,1.04,y,6,n,?
4,hypothyroid,77,M,f,f,f,f,f,f,f,f,f,f,f,y,7.30,y,1.20,y,57,y,1.28,y,44,n,?

In [35]:
# df['disease']=df['disease'].str.split('.')
# df['disease']=[val[0].replace(".","") for val in df['disease']]

# df['disease']=df['disease'].str.split('[')
# df['disease']=[val[0] for val in df['disease']]

In [36]:
df['disease'].unique()

array(['hypothyroid', 'negative'], dtype=object)

In [37]:
# disease_dict={"A":'hyperthyroid',
#               "AK":'hyperthyroid',
#               "B":'hyperthyroid',
#               "C":'hyperthyroid',
#               "D":'hyperthyroid',
#               "E":'hypothyroid',
#               "F":'hypothyroid',
#               "G":'hypothyroid',
#              "FK":'hypothyroid',
#              "GK":'hypothyroid',
#              "H":'hypothyroid'
#              }

In [38]:
# df['disease']=df['disease'].map(disease_dict)

In [39]:
df['disease'].unique()

array(['hypothyroid', 'negative'], dtype=object)

In [40]:
# df=df[(df['disease']=='hypothyroid') | (df['disease']=='hyperthyroid')]

df=df[(df['disease']=='hypothyroid')]

In [41]:
df.shape

(151, 26)

In [44]:
df.to_csv('raw_data3.csv',index=False)

In [43]:
# df2=pd.read_csv('raw_data2.csv')